.footer {
  background-color: var(--container-color);
  border-top: 1px solid var(--border-col);
}

.footer--container {
  padding: 2rem 0 6rem;
}

.footer--title,
.footer--link {
  color: var(--title-color);
}
.footer--title {
  font-size: var(--h1-size);
  text-align: center;
  margin-bottom: var(--mb-2);
}

.footer--link:hover {
  color: var(--title-color-dark);
}

.footer--list {
  display: flex;
  justify-content: center;
  column-gap: 1.5rem;
  margin-bottom: var(--mb-2);
}

.footer--social {
  display: flex;
  justify-content: center;
  column-gap: 1.25rem;
}

.footer--social-icon {
  display: inline-flex;
  background-color: var(--title-color);
  color: var(--container-color);
  font-size: 1.25rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.footer--social-icon:hover {
  background-color: var(--title-color-dark);
}
.footer--copyright {
  display: block;
  color: var(--title-color);
  font-size: var(--smaller-font-size);
  text-align: center;
  margin-top: 4.5rem;
}

/*=============== RESPONSIVE ===============*/
@media screen and (max-width: 996px) {
  .footer--social-icon {
    padding: 0.35;
    border-radius: 0.35rem;
    font-size: 1rem;
  }
}
@media screen and (max-width: 768px) {
}

@media screen and (max-width: 350px) {
}
